<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form name="frm+task_data">
<table>
<tr><td>Task Name</td><td><input type="text" id="txtTaskName"></td></tr>
<tr><td>Task Desc</td><td><input type="text" id="txtTaskDesc"></td></tr>
<tr><td>Task Status</td><td><section>
<option value=1>Open</option>
<option value=2>Close</option>
</section></td></tr>
<tr><td>Task Name</td><td><input type="text" id="txtTaskName"></td></tr>

</table>

</form>

</body>
</html>